.ingame-title {
    -unity-font-definition: none;
    -unity-font: url('project://database/Assets/Fonts/MPLUS2-Black.ttf?fileID=12800000&guid=074a1daa0428c3c42a219a1d1d57319d&type=3#MPLUS2-Black');
    font-size: 51px;
    width: auto;
}

.ui-text {
    -unity-font-definition: none;
    -unity-font: url('project://database/Assets/Fonts/MPLUS2-Medium.ttf?fileID=12800000&guid=ceb86ffdfe6889d45ac91e677c29f523&type=3#MPLUS2-Medium');
}
